/* Basic reset */
 
/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #0d141e;
}


/* Logo styling */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    padding-right: 550px;
}

/* Navigation styling */
.navList {
    display: flex;
    list-style: none;
}

.navList li {
    margin: 0 15px;
   padding-left: 25px;
   padding-top: 10PX;
}

.navList li a {
    text-decoration: none;
    color: #f0eaea;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
}

/* Button styling */
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 55px;
}

.button {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.signIn {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #333;
    margin-bottom: 40PX;
}

.register {
    background-color: #007bff;
    color: #fff;
    margin-bottom: 40PX;
}
